name: "Run Code Checks"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: 30 1 * * 0

permissions:
  contents: read
  packages: read

jobs:
  check-code-quality:
    name: Check Code Quality
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      # Lint and Format everything but Python
      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v7.1.0
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          LINTER_RULES_PATH: .github/super-linter-configurations
          YAML_ERROR_ON_WARNING: true
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_PYTHON_RUFF: false
          VALIDATE_PYTHON_PYINK: false
          VALIDATE_NATURAL_LANGUAGE: false
          GITHUB_ACTIONS_COMMAND_ARGS: "-ignore '.branding.icon.'"

  check-python-code-format-and-quality:
    name: Check Python Code Format and Quality
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Dependencies
        uses: ./.github/actions/setup-dependencies

      - name: Check Python Code Quality (Ruff)
        run: just ruff-lint
        env:
          RUFF_OUTPUT_FORMAT: "github"

      - name: Check Python Code Format (Ruff)
        run: just ruff-format
        env:
          RUFF_OUTPUT_FORMAT: "github"

      - name: Check Python Code for Dead Code (Vulture)
        run: just vulture

  upload-ruff-analysis-results:
    name: Upload Ruff Analysis Results
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Python Dependencies
        uses: ./.github/actions/setup-dependencies

      - name: Check Python Code Quality (Ruff)
        run: just ruff-lint
        env:
          RUFF_OUTPUT_FORMAT: "sarif"
          RUFF_OUTPUT_FILE: "ruff-results.sarif"
        continue-on-error: true

      - name: Upload Ruff analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3.27.0
        with:
          sarif_file: ruff-results.sarif
          wait-for-processing: true

  run-codeql-analysis:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3.27.0
        with:
          languages: python
          queries: security-and-quality
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3.27.0

  check-markdown-links:
    name: Check Markdown links
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Check Markdown links
        uses: UmbrellaDocs/action-linkspector@v1.2.4
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          config_file: .github/other-configurations/.linkspector.yml
          reporter: github-pr-review
          fail_on_error: true
          filter_mode: nofilter

  check-justfile-format:
    name: Check Justfile Format
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Check Justfile Format
        run: just format-check

  docker-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Build Docker Image
        run: just docker-build

  run-scorecard-analysis:
    name: Scorecard Analysis
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      security-events: write
      id-token: write
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false

      - name: "Run analysis"
        uses: ossf/scorecard-action@v2.4.0
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: "Upload to code-scanning"
        uses: github/codeql-action/upload-sarif@v3.27.4
        with:
          sarif_file: results.sarif

  run-code-limit:
    name: Code Limit Analysis
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: "Run Code Limit"
        uses: getcodelimit/codelimit-action@8ee70f8d3d5b984130e46fb8ccbe229f5e1d68d0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          upload: true
